* {
  box-sizing: border-box;
}

html,
body {
  color: #99a0b0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f5fa;
  font-family: 'Signika', Arial, sans-serif;
}

h2 {
  color: #000;
}

.dashboard {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 0;
  grid-template-columns: 300px auto;
  grid-template-rows: 80px auto;
  grid-template-areas: 'menu search' 'menu content';
}

.dashboard-tittle {
  font-family: 'Signika';
  font-weight: 700;
  font-size: 2rem;
}

.search-wrap {
  grid-area: search;
  background: #fff;
  border-bottom: 1px solid #ede8f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
}

.search-form {
  margin-left: 0px;
  max-width: 500px;
  width: 100%;
}

.search-input {
  border: 5px solid #ced4da;
  border-radius: 5px;
}

.search-input:focus {
  border-color: #ffc107;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}

.btn-warning {
  background-color: #ffc107;
  border: none;
}

.btn-warning:hover {
  background-color: #e0a800;
}

.menu-wrap {
  grid-area: menu;
  padding-bottom: 3em;
  overflow: auto;
  background: #fff;
  border-right: 1px solid #ede8f0;
  font-family: 'Signika', Arial, sans-serif;
}

.menu-wrap .user {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 3em;
}

.menu-wrap .user .user-avatar {
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.menu-wrap .user figcaption {
  color: #09431f;
  font-weight: 700;
  font-size: 24px;
  font-family: 'Signika';
}

.menu-wrap nav {
  padding: 0 3em;
}

.menu-wrap nav ul {
  margin-top: 1em;
}

.menu-wrap nav li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #805700;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 15px;
  margin-bottom: 5px;
}

.menu-wrap nav ul li a.active {
  background-color: #09431f;
  color: white;
  border-radius: 5px;
  border-left: 5px solid #c9994c;
  padding: 10px 15px;
}

.menu-wrap nav ul li a:hover {
  color: #c9994c;
}

.content-wrap {
  background-color: #fff;
  grid-area: content;
  padding: 3em;
  overflow: auto;
}

.content-wrap .content-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-wrap .content-head h1 {
  font-size: 2em;
  color: #1b253d;
  font-weight: 500;
}

.content-wrap .info-boxes {
  padding: 3em 0 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 2em;
}

.content-wrap .info-box {
  background: #fff;
  height: 160px;
  display: flex;
  align-items: center;
  padding: 0 3em;
  border: 3px solid #805700;
  border-radius: 5px;
}

.content-wrap .person-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 2em;
}

.content-wrap .person-box {
  background: #fff;
  height: 320px;
  text-align: center;
  padding: 3em;
  border: 1px solid #ede8f0;
  border-radius: 5px;
}

/* RESPONSIVE STYLING */
@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "menu"
      "search"
      "content";
  }

  .menu-wrap {
    padding: 1em;
    text-align: center;
  }

  .menu-wrap nav li a {
    font-size: 14px;
    padding: 5px 10px;
  }

  .search-wrap {
    padding: 1em;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-form {
    width: 100%;
    margin-bottom: 1em;
  }

  .content-wrap {
    padding: 1em;
  }

  .content-wrap .info-boxes {
    grid-template-columns: 1fr;
  }

  .content-wrap .person-boxes {
    grid-template-columns: 1fr;
  }

  .content-wrap .content-head h1 {
    font-size: 1.5em;
  }

  .content-wrap .content-head .action button {
    font-size: 0.875em;
    padding: 0.5em 1.5em;
  }
}


/* Style untuk dropdown nama pengguna */
.dropdown {
  position: relative;
}

.dropdown.show .dropdown-menu {
  display: block;
}

.profile-icon {
  color: #333;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.profile-icon:hover {
  color: #09431F;
}

.profile-icon:hover i {
  color: #09431F;
}

.dropdown .profile-icon .ms-2 {
  font-size: 20px;
}

.dropdown .profile-icon i {
  font-size: 23px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  width: 220px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;
  background-color: #033043 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  color: #fff !important;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #FDA521 !important;
  color: #fff;
}

/* Tabel */
table {
  border: 2px solid #033043 !important;
  border-collapse: collapse !important;
}

table th {
  text-align: center;
  vertical-align: middle;
}

table th,
table td {
  border: 1px solid #033043 !important;
}

table thead th {
  background-color: #84b8c6 !important;
  color: white;
}

.action-column {
  text-align: center !important;
  vertical-align: middle !important;
}

td.action-column {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

td.action-column .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Modal */
.modal-content {
  border-radius: 10px !important;
  padding: 20px;
  font-family: 'Signika', sans-serif;
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal-header {
  display: flex !important;
  align-items: center;
  justify-content: center !important;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.logo-img {
  margin-right: 10px;
}

.brand .text-center {
  color: #033043;
  font-weight: 600;
  font-size: 1.8rem;
  font-family: 'Signika', sans-serif;
}

/* Input dan Tombol */
.input-group {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  font-size: 18px;
  border-radius: 5px !important;
  padding: 10px;
  border: 2px solid #805700 !important;
  background-color: transparent;
  outline: none;
  color: #033043;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #033043;
  color: #E9E3D5;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #FDA521;
  color: #033043;
}

/* Pagination */
.pagination .page-item.active .page-link {
  background-color: #033043;
  border-color: #033043;
  color: white;
}

.pagination .page-item .page-link {
  border-color: #033043;
  color: #033043;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
  background-color: #84b8c6;
  color: white;
  border-color: #033043;
}

/* Banner */
.banner-item {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.banner-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.banner-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
  font-family: 'Signika';
}

/* Responsivitas */
@media (max-width: 576px) {
  .username {
    font-size: 0.8rem;
  }

  .product-list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .username {
    font-size: 0.9rem;
  }

  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .username {
    font-size: 1rem;
  }

  .product-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
